"*.pyc" 
"__pycache__/" 
"secret_config.txt" 
"*.pyc" 
"__pycache__/" 
"1lab.py" 
"2lab.py" 
"3lab.py" 
"4lab.py" 
"5lab.py" 
"data_posts.csv" 
"laba3/" 
"result_laba2.txt" 
"2lab.py" 
"3lab.py" 
"4lab.py" 
"5lab.py" 
"data_posts.csv" 
"laba3/" 
"result_laba2.txt" 
